.switch {
  width: 48px;
  height: 26px;
  position: relative;
  background-color: hsl(236, 72%, 79%);
  border-radius: 20px;
  cursor: pointer;
}

.switch-btn {
  width: 22px;
  height: 22px;
  position: relative;
  top: 2px;
  right: 3px;
  border-radius: 50%;
  display: block;
  float: right;
  background-color: #fff;
  transition: 0.1s linear, left 0.3s ease-in-out;
}

.switch-active {
  background-color: hsl(237, 63%, 64%);
}

.switch-btn-active {
  float: left;
  left: 3px;
  transition: 0.1s linear, left 0.3s ease-in-out;
}
