.card {
  width: 300px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  background-color: #fff;
  text-align: center;
  padding: 0 30px;
  color: hsl(232, 13%, 33%);
}

.card p {
  width: 100%;
  padding: 16px 0;
}

.card-title {
  color: hsl(233, 13%, 49%);
}

.main-card .card-title {
  color: #fff;
}

.main-card hr {
  border: none;
  background-color: hsl(234, 14%, 74%);
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.7em;
}

.card-price span {
  font-size: 28px;
  margin-right: 5px;
}

.card-storage {
  font-size: 12px;
}

.card-user-allowed {
  font-size: 12px;
}

.card-send-up {
  font-size: 12px;
}

.main-card {
  border-radius: 10px;
  padding: 20px 40px;
  background-image: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: hsl(240, 78%, 98%);
}

.card hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color:hsl(234, 14%, 74%) ;
  justify-self: center;
}

.card-learn-more {
  width: 100%;
  padding: 15px 0;
}

.card-learn-more button {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px 0;
  background-image: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
}

.card-learn-more button:hover {
  background: transparent;
  color: hsl(232, 13%, 33%);
  border: 1px solid hsl(232, 13%, 33%);
}

.main-card .card-learn-more button {
  background-color: #fff;
  color: hsl(232, 13%, 33%);
  background-image: none;

}

.main-card .card-learn-more button:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

@media screen and (max-width: 682px) {
  .card {
    width: 100%;
    margin: 1rem 0;
    border-radius: 10px;
    padding: 20px 30px;
  }
  .card p {
    padding: 22px 0;
  }

  .card-price {
    font-size: 4.5em;
  }

  .card-learn-more button {
    padding: 16px;
  }
}

@media screen and (max-width: 400px) {
  .card p {
    padding: 20px 0;
  }

  .card-price {
    font-size: 4.3em;
  }

  .card-learn-more button {
    padding: 13px 0;
  }
}