.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/bg-top.svg") no-repeat top right, url("./assets/bg-bottom.svg") no-repeat bottom left;
  background-repeat: no-repeat;
  background-color: hsl(234, 3%, 93%);
  overflow: hidden;
}

.wrapper {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 10vh;
  padding-right: 8vw;
  padding-left: 8vw;
}

.proposal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-bottom: 2rem;
}

.proposal > * {
  margin: 0 10px;
}

.pricing-plan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
  color: hsl(234, 14%, 74%);
}

.pricing-plan h2 {
  margin-bottom: 2rem;
  color: hsl(233, 13%, 49%);
  font-size: 1.8em;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 998px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 864px) {
  .cards {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 797px) {
  .cards {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 682px) {
  .cards {
    transform: scale(1);
    flex-direction: column;
    padding: 0 4vw;
  }
}

@media screen and (max-width: 420px) {
  .cards {
    padding: 0 2vw;
  }
}